@font-face {
	font-family: 'Kalligraf'; 
	src: url('../font/Lobster-Regular.ttf'); 
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 240);
    font-family: 'Kalligraf';
    color: #000015;
    min-height: 100vh;
}
h2, h3{margin: 3px;}
button{
    margin: 3px;
    width: 115px;
    height: 33px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 15px 20px 0 rgba(0, 40, 120, 0.35);
    transition: 0.3s;
    background-color: ghostwhite;
}
button:hover{
    background-color: #fff4f0;
    box-shadow: 0 15px 20px 0 rgba(236, 49, 183, 0.4);
    transform: translateY(-2px);
    cursor: pointer;
}
header{
    height: auto;
    padding-top: 10px;
}
.container{
    display: flex;
    flex: 1;
    align-items: center;
}
footer{
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;
    width: 100%;
    background-color: #fff4f0;
}
#hiddenPrice{display: none;}
.btn-property{text-align: center;}
.background-img{
    position: relative;
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 651px;
    background-image: url('../img/background2.jpg');
    background-size: cover;
    background-position: center center;
}
#mirror{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 150px;
    width: 100px;
    height: 100px;
    background-image: url('../img/fonMirror.jpg');
    background-size: cover;
    background-position: center center;
    border: 5px solid #ffffff;
    box-shadow: 0 15px 30px  rgba(255, 255, 255, 0.8);
}
.btn-container{
    padding: 10px 10px 30px;
    flex-grow: 1;
}


@media(max-width: 1150px){
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .btn-container{
        display: flex;
        justify-content: center;
     }

}
@media(max-width: 1000px){
    .background-img{
        width: 850;
        height: 592px;
    }
}
@media(max-width: 850px){
    .background-img{
        width: 800px;
        height: 474px;
    }
    #mirror{
        top: 120px;
        width: 70px;
        height: 70px;
    }
}


@media(max-width: 700px){
    .background-img{
        background-image: url('../img/background-small.jpg');
        width: 700px;
        height: 511px;
    }
    button{
        width: 100px;
        height: 35px; 
        font-size: 12px;
    }
    .btn-container{flex-wrap:wrap;}
    .btn-property{max-width: 110px;}
    h2{font-size: 18px;}
    h3{font-size: 16px;}
    #mirror{
        top: 120px;
        left: 25%;
        width: 70px;
        height: 70px;
    }
}
@media(max-width: 550px){
    .background-img{
        width: 550px;
        height: 501px;
    }
    h2{font-size: 16px;}
    h3{font-size: 14px;}
}
@media(max-width: 450px){
    .background-img{
        width: 450px;
        height: 410px;
    }
    #mirror{
        top: 100px;
        left: 20%;
    }
}